.item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 5px;
}

.contactName {
  font-weight: bold;
  color: #333;
  flex-grow: 1;
}

.contactNumber {
  color: #555;
  margin-right: 10px;
}

.deleteButton {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkred;
}
